<div style="text-align:center">
  <h1>{{ title }}</h1>
<!--  <img alt="me" width="500px" src="../assets/me.jpg"/>-->
</div>

<div class="container" style="margin-top: 10px; max-width:900px">
  <!--  temp style (bootstrap) for testing -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/news'"> News </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="'/activities'"> Activities </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="'/activity-new'"> New Activity </a>
  </ul>
  <div style="margin-top: 10px;">
    <router-outlet></router-outlet>
  </div>
</div>



