<div class="form-group">
  <label for="activityName">Activity Name:</label><br>
  <input [(ngModel)]="activityName" placeholder="name" name="name" class="form-control" id="activityName"><br>
  <button class="btn btn-success" id="btnInsert" (click)="insertActivity()">Create</button>
</div>
